#####=== Python ===#####

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Sphinx documentation
docs/

# python venv
venv
.python-version

# vscode
.vscode

# Markdown NOTES
NOTES.md

# node
node_modules

# transpiled javascript
*.js

# log
log/log.txt

# showdown server
pokemon-showdown/

# dist
dist

# wandb local logs
wandb/

# nsga2 runs
nsga2/

# plots
analysis/**/*.pdf

# cvs
analysis/**/*.csv