adjustText~=0.7.3
deap==1.*
git+ssh://git@github.com/massimo-rizzoli/Pokemon_info.git@b88e9c212a37e246cb383468b4326788bc06a77a
git+ssh://git@github.com/Simone-Alghisi/poke-env.git@1a2212339d7a05af9b8fdda50044aa3d41fc9179
inspyred==1.*
matplotlib==3.*
pandas==1.*
pynpm~=0.1.2
PyQt5==5.*
PyQt5-Qt5==5.*
PyQt5-sip==12.*
scikit-learn==1.*
seaborn~=0.11.2
torch==1.11
tqdm==4.*
typing==3.*
typing_extensions==4.*
wandb~=0.12.16
